<nav class="navbar navbar-expand-sm bg-dark sticky-top navbar-dark" style="margin-top: -5px;margin-bottom: 0;" >
  <ul class="navbar-nav">
    <li>
      <a class="navbar-brand" href="/">Scrum</a>
    </li>

    <li class="nav-item">
      <% var homePath = "/";                                    %>
      <% var dashPath = "/";                                    %>
    <% if(currentUser&&currentUser.currentTeam!=""){             %>
      <% homePath = "/" + currentUser.currentTeam + "/home";     %>
      <% dashPath = "/" + currentUser.currentTeam + "/dashboard"; %>
      <% } %>
      <a class="nav-link" href="<%= homePath %>">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= dashPath %>">Dashboard</a>
    </li>
  </ul>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <% if(!currentUser){ %>
              <li class="nav-item">
                  <a class="nav-link" href="/auth/google">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
              </li>
          <% } else {%>
              <li class="nav-item">
                  <a class="nav-link" href="#"><strong><%= currentUser.name %></strong></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
              </li>
          <% } %>
            <li>
              <div class="btn-group">
                <li class="nav-item">
                  <a href="/directions" target = "_blank"><button class="fa fa-question-circle" style="font-size:1.5em; color:white; margin-top:0.3em;"></button></a>
                </li>
            </div>
          </li>
      </ul>
  </div>
</nav>
