
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
        // $('#chat_icon').removeClass('open');
        $('#menu').css("right","-300px");
        $('#chat_icon').on('click',function(){
          // alert("sgxh");
            if($('#chat_icon').hasClass('open')){
                $(this).removeClass('open');
                $(this).animate({
                    "right":"20px",
                    "background-position":"0px"
                }, 0.3);
                $('#menu').animate({"right":"-300px"}, 0.5);
                // $('#content').css("position","absolute");
                $('#content').animate({
                    "width":"98%",
                    // "z-index":"999"
                }, 0.5);
            }
            else{
                $(this).addClass('open');
                $(this).animate({
                    "right":"310px",
                    "background-position":"-40px"
                }, 0.3);
                $('#menu').animate({"right":"0px"}, 0.5);
                // $('#content').css("position","absolute");
                $('#content').animate({
                    "width":"64%",
                    // "z-index":"999"
                }, 0.5);
            }
        });
    });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $(function() {
        wireReorderList();
    });

    function wireReorderList() {
      var fixHelperModified = function(e, tr) {
          var $originals = tr.children();
          var $helper = tr.clone();
          $helper.children().each(function(index) {
              $(this).width($originals.eq(index).width())
          });
          return $helper;
      },
          updateIndex = function(e, ui) {
              $('td.index', ui.item.parent()).each(function (i) {
                  $(this).html("US " + (i + 1));
              });
          };

      $("#pb-rearrange tbody").sortable({
        helper: fixHelperModified,
         stop: updateIndex
      }).disableSelection();
    }

    function saveOrderClick() {
        // ----- Retrieve the li items inside our sortable list
        var items = $("#pb-rearrange tbody tr");

        var rearrangedStories = [items.size];
        var index = 0;
        var releasePlanArray = $("#pb-save").attr("releasestr").split(",");
        var sprintIDArray = $("#pb-save").attr("sprintidstr").split(",");
        var pointsArray = $("#pb-save").attr("pointsstr").split(",");
        // alert(productBacklog);
        // ----- Iterate through each li, extracting the ID embedded as an attribute
        items.each(
            function(intIndex) {
                var str = $(this).find("td").eq(0).text()
                var position = str.substr(3, str.length);
                var role = $(this).find("td").eq(1).text();
                var action = $(this).find("td").eq(2).text();
                var benefit = $(this).find("td").eq(3).text();
                var value = $(this).find("td").eq(4).text();
                var story = {
                    role: role,
                    action: action,
                    benefit: benefit,
                    value: value,
                    releasePlan: releasePlanArray[position-1],
                    sprintID: sprintIDArray[position-1],
                    points: pointsArray[position-1],
                    
                };
                rearrangedStories[index] = story;
                index++;
        });

        var team_id = $("#pb-save").attr("teamid");
        var url = "/"+team_id+"/productBacklog/update";
        $.post(
          url,
          {rearrangedStories: rearrangedStories},
          function(data, status, jqXHR) {// success callback
              location.reload(true);
        });
    }


    $("#pb-save").click(function(){
        saveOrderClick();
    });
    // Submit post request

    $("#po-select").click(function(){
        console.log("Printing....");
        var checkboxes = $(".po-check");
        checked = []

        for(var i = 0; i < checkboxes.length; i++){
            if(checkboxes[i].checked)
                checked.push(i);
        }

        var team_id = $("#po-select").attr("teamid");
        var sprint_id = $("#po-select").attr("sprintid");
        var url = "/"+team_id+"/"+sprint_id+"/selectStories/update";
        $.post(
          url,
          {checked: checked},
          function(data, status, jqXHR) {// success callback
              location.reload(true);
        });
    });

    $("#dev-select").click(function(){
        console.log("Printing....");
        var checkboxesdev = $(".dev-check");
        checkeddev = []

        for(var i = 0; i < checkboxesdev.length; i++){
            if(checkboxesdev[i].checked)
                checkeddev.push(checkboxesdev[i].value);
        }

        var team_id = $("#dev-select").attr("teamid");
        var sprint_id = $("#dev-select").attr("sprintid");
        var url = "/"+team_id+"/"+sprint_id+"/devStorySelection";
        $.post(
          url,
          {checkeddev: checkeddev},
          function(data, status, jqXHR) {// success callback
              location.reload(true);
        });
    });

    $(".sprintPoints").change(function(){
        var sum = 0;
        var sprintPoints = $(".sprintPoints");
        for(var i = 0; i < sprintPoints.length; i++){
            sum += sprintPoints[i].attr("value"); 
        }
        $("#totalSprintPoints").attr("value")=sum;
    });

  });
</script>
