<h2>Instructions to operate</h2>
<ul>
  <li>1) Click on the register button on the top right corner and complete the procedure</li>
  <li>2) Click on the login button in the top right corner and complete the procedure</li>
  <li>3) The PO must create a team and send the joining request to team members by entering their email id's</li>
  <li>4) The other members of the group should click on join button after the request has been sent and accept the request.They will be redirected to main page</li>
  <li>5) The PO starts the sprint process and users add the user stories filling product backlog</li>
  <li>6) The user stories in the product backlog are estimated</li>
</ul>
