<% include partials/header %>
<% include partials/navbar %>


  <div class="modal show" id="myModal" aria-modal = "true" style="display: block;" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Release</h4>
        <a class="btn close" href="/<%= team._id %>/releasePlan">&times;</a>
      </div>

      <!-- Modal body -->
      <div class="modal-body show">
        <form action="/<%= team._id %>/releasePlan/new" method="post">
            <div class="form-group">
              <input type="text" name="release[name]" class="form-control" id="release-name" placeholder="Eg. Mobile App release" required>
            </div>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
          </form>
          <hr>
      </div>

    </div>
  </div>
</div>
<div class="modal-backdrop show"></div>

<% include partials/sidebarFooter %>
<% include partials/footer %>
