<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Scrum Roleplay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/sprintRetrospective.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/stylesheets/chatbox.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
    <link rel="stylesheet" href="/stylesheets/productBacklog.css">
    <link rel="stylesheet" href="/stylesheets/releasePlan.css">
    <link rel="stylesheet" href="/stylesheets/planSummary.css">
    <link rel="stylesheet" href="/stylesheets/sprintReview.css">
    <link rel="stylesheet" href="/stylesheets/sprintRetrospective.css">
    <link rel="stylesheet" href="/stylesheets/emptyRetrospective.css">
    <link rel="stylesheet" href="/stylesheets/currentRetrospective.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
  </head>
    <body>
        <h2>Case Study Description</h2>
        <form class="" action="/create_session/caseStudyDetails" method="post">
        <textarea id="psText" name="caseStudyDescription" rows="14" cols="100" placeholder="Write Case Study Description... "></textarea>
        <hr>
        <textarea id="psText" name="caseStudyImg" rows="1" cols="100" placeholder="Write Image Url"></textarea>
        <hr>
        <button id="SubBut" type="submit">Submit</button>
        </form>
    </body>
</html>