<!DOCTYPE html>
<html>
     <head>
            <link type="text/stylesheet" href="/stylesheets/chatbox.css" rel="stylesheet" id="bootstrap-css">
            <script type="text/javascript" src="models/chatbox.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
     </head>
    <body>
        <h1>heloo</h1>
        <div class="col-sm-3 col-sm-offset-4 frame">
            <ul></ul>
            <div>
                <div class="msj-rta macro">                        
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input class="mytext" placeholder="Type a message"/>
                    </div> 

                </div>
                <div style="padding:10px;">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </div>                
            </div>
        </div>       
    </body>
</html>
