<!DOCTYPE html>
<html>
     <head>
            <link href="/stylesheets/chatbox.css" rel="stylesheet" id="bootstrap-css">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
     </head>
     <body>
            <div class="container">
            <div class="messaging" id="chatbox">
                    <div class="mesgs">
                      <div class="msg_history">
                        <div class="incoming_msg">
                          <div class="incoming_msg_img"> </div>
                          <div class="received_msg">
                            <div class="received_withd_msg">
                              <p>Test which is a new approach to have all
                                solutions</p>
                              <span class="time_date"> 11:01 AM    |    June 9</span></div>
                          </div>
                        </div>
                        <div class="outgoing_msg">
                          <div class="sent_msg">
                            <p>Test which is a new approach to have all
                              solutions</p>
                            <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                        </div>
                        <div class="incoming_msg">
                          <div class="incoming_msg_img"> </div>
                          <div class="received_msg">
                            <div class="received_withd_msg">
                              <p>Test, which is a new approach to have</p>
                              <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                          </div>
                        </div>
                        <div class="outgoing_msg">
                          <div class="sent_msg">
                            <p>Apollo University, Delhi, India Test</p>
                            <span class="time_date"> 11:01 AM    |    Today</span> </div>
                        </div>
                        <div class="incoming_msg">
                          <div class="incoming_msg_img">  </div>
                          <div class="received_msg">
                            <div class="received_withd_msg">
                              <p>We work directly with our designers and suppliers,
                                and sell direct to you, which means quality, exclusive
                                products, at a price anyone can afford.</p>
                              <span class="time_date"> 11:01 AM    |    Today</span></div>
                          </div>
                        </div>

                      </div>
                      <div class="type_msg">
                        <div class="input_msg_write">
                          <input type="text" class="write_msg" placeholder="Type a message" />
                          <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div></div>
                <h2>Product Backlog</h2>

                <table>
                  <tr>
                    <th>US Ref</th>
                    <th>As a </th>
                    <th>I want to</th>
                    <th>So That</th>
                    <th>Value</th>
                  </tr>
                  <tr class="odd">
                    <td> US 1</td>
                    <td> Admin</td>
                    <td> Add details of new...</td>
                    <td> The Information can...</td>
                    <td> 2</td>
                  </tr>
                  <tr class="evn">
                    <td> US 2</td>
                    <td> Admin</td>
                    <td> Add details of new...</td>
                    <td> Duty can be assigned...</td>
                    <td> 3</td>
                  </tr>
                  <tr class="odd">
                    <td> US 3</td>
                    <td> Supervisor</td>
                    <td> Schedule count...</td>
                    <td> They can sell tickets...</td>
                    <td> 4</td>
                  </tr>
                  <tr class="evn">
                    <td> US 4</td>
                    <td> Supervisor</td>
                    <td> Prepare daily sales...</td>
                    <td> The Supervising can...</td>
                    <td> 5</td>
                  </tr>
                  <tr class="odd">
                    <td>   US 5</td>
                    <td> Manager</td>
                    <td> Schedule and set prices...</td>
                    <td> Tickets can be sold...</td>
                    <td> 6</td>
                  </tr>
                  <tr class="evn">
                    <td> US 6</td>
                    <td> Manager</td>
                    <td> Get sales report of...</td>
                    <td> I can analyse sales...</td>
                    <td> 7</td>
                  </tr>
                </table>
                <button id="addStoryButton">Add User Story +</button>
                </body>
</html>
