<% include partials/header %>
<% include partials/navbar %>

<link rel="stylesheet" href="/stylesheets/team_create.css">
  <div class="modal show" id="myModal" aria-modal = "true" style="display: block;" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create Session</h4>
        <a class="btn close" href="/">&times;</a>
      </div>

      <!-- Modal body -->
      <div class="modal-body show">
        <form action="/session_create" method="post">
            <div class="form-group">
              <label for="reg-username">Session Name</label>
              <input type="text" name="sessionname" class="form-control" id="reg-username" placeholder="Enter Session Name" required>
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <button type="submit" class="btn btn-primary float-right">Create</button>
          </form>
          <hr>
          <!-- Link to register -->

      </div>

    </div>
  </div>
</div>
<div class="modal-backdrop show"></div>

<% include partials/sidebarFooter %>
<% include partials/footer %>
