<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Scrum Roleplay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>
      h1{
        color:#196e9c;

      }
      li{
        color:#FFFFFF;
        font-size: 18px;
      }
      body{
        background-image: url("https://free4kwallpapers.com/uploads/wallpaper/website-background-1024x768-wallpaper.jpg");
      }
    </style>
  </head>

  <body>

    <% include partials/navbar %>

    <h1><center>Instructions to operate</center></h1>
    <div class="container">
      <ul>
        <li> For registration and login purposes users must only use their bits mail and student id which helps to recognize progress of individual student</li>
        <li> The time for filling Product Backlog is <%=ses.pbTime%> minutes & The time for sprint are as follows : <% for(var i=0 ; i<ses.sprintTime.length ; i++){ %>
          sprint<%=i+1%>=<%=ses.sprintTime[i];%> minutes
        <% } %>
        </li>
        <li> Click on the register button on the top right corner and complete the procedure</li>
        <li> Click on the login button in the top right corner and complete the procedure</li>
        <li> The PO must create a team and send the joining request to team members by entering their email id's(not their names)</li>
        <li> The other members of the group should click on join button after the request has been sent and accept the request.Then click on "home" button in nav-bar to access main page</li>
        <li> The members must make sure they are in the same team assigned to them if any issue arises in sending the invitation then the PO must create a new team and resend the invitation to respective members</li>
        <li> The PO starts the scrum process after the case study has been examined properly and users add the user stories filling product backlog</li>
        <li> The "save" button accessible only to PO must be clicked after every changes made in order for changes to be visible to everyone else in the group</li>
        <li> The points to be burnt in each sprint are estimated in "estimate sprint points" section</li>
        <li> The creation of new realese and allocation of user stories in a particular release plan is done in the "release planning" section</li>
        <li> The sprint 1 can be accessed only after <%=ses.pbTime%> minutes, after which users cannot go back to change product backlog or realese planning</li>
        <li> During the sprint the story selection is done by PO, completing the stories is done by developers(PO and SM can also do this) and finally review and retrospective is completed by SM</li>
        <li> The user stories can be broken into smaller tasks under the 'Add tasks to the stories' section</li>
        <li> PO has the authority to reject or accept the user stories completed by developers and assign points burnt to them which can be accessed under 'view user stories' section</li>
        <li> The sprints are of fixed duration after which new sprint is unlocked and no changes can be made to previous sprint progress</li>
        <li> The scrum progress or burn down charts can accessed in the 'dashboard' section in the nav-bar</li>
        <li> After finally completing the product review users are required to complete the feedback form</li>
      </ul>
    </div>

  </body>
</html>
