<% include partials/sidebarHeader %>

<h2>No Sprint Retrospective</h2>
<% var date = new Date(); %>
<% var curTime = Date.parse(date); %>
<% if(team.endTime - curTime > totalTime - sprintEnd[sprintNo-1]){ %>
    <h4 align="center" class="h4text">Please Enter the Sprint Retrospective</h4>
    <form class="" action="/<%=team.id%>/<%=sprintNo%>/sprintRetrospective" method="get">
      <center><button type="submit" id="SubBut" name="button">Create</button></center>
    </form>
<% } %>

<% include partials/sidebarFooter %>
<% include partials/footer %>
