<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>

<h2>Product Backlog</h2>

<table>
  <tr>
    <th>US Ref</th>
    <th>As a </th>
    <th>I want to</th>
    <th>So That</th>
    <th>Value</th>
  </tr>
  <tr class="odd">
    <td> US 1</td>
    <td> Admin</td>
    <td> Add details of new...</td>
    <td> The Information can...</td>
    <td> 2</td>
  </tr>
  <tr class="evn">
    <td> US 2</td>
    <td> Admin</td>
    <td> Add details of new...</td>
    <td> Duty can be assigned...</td>
    <td> 3</td>
  </tr>
  <tr class="odd">
    <td> US 3</td>
    <td> Supervisor</td>
    <td> Schedule count...</td>
    <td> They can sell tickets...</td>
    <td> 4</td>
  </tr>
  <tr class="evn">
    <td> US 4</td>
    <td> Supervisor</td>
    <td> Prepare daily sales...</td>
    <td> The Supervising can...</td>
    <td> 5</td>
  </tr>
  <tr class="odd">
    <td>   US 5</td>
    <td> Manager</td>
    <td> Schedule and set prices...</td>
    <td> Tickets can be sold...</td>
    <td> 6</td>
  </tr>
  <tr class="evn">
    <td> US 6</td>
    <td> Manager</td>
    <td> Get sales report of...</td>
    <td> I can analyse sales...</td>
    <td> 7</td>
  </tr>
</table>
<button id="addStoryButton">Add User Story +</button>
</body>
</html>
