<% include partials/sidebarHeader %>
<div class="card-title" style="text-align: center;"><h2><%= session.caseTitle %></h2></div>
<div class="card">
  <div class="card-body">
    <h5>
        <%= session.caseStudyDescription %>
    </h5>
  </div>
    <img style="height:40%; width:50%;margin:auto;" src="<%= session.caseStudyImg %>" alt="">

</div>

<% if(currentUser.role == "Product Owner"){ %>
    <button class="btn" id="timer-button">Start</button>
<% } %>
<a href="https://forms.gle/MevynTKQzDimktPA6" class="btn float-right" id="feedback-button" target = "_blank">Feedback</a>
<% include partials/sidebarFooter %>
<% include partials/footer%>
