<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Scrum Roleplay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  </head>

  <body>

      <% include partials/navbar %>

      <div>
          <a href="/home" class="btn btn-success btn-lg" id="btn-create">
            <span class="fas fa-plus-circle" id="myIcon"></span>
            <span id="btn-text">CREATE</span>
          </a>
          <a href="/home" class="btn btn-success btn-lg" id="btn-join">
            <i class="fa fa-share" aria-hidden="true" id="myIcon"></i> JOIN
          </a>

      </div>

  </body>
</html>
