<% include partials/header %>
<% include partials/navbar %>


  <div class="modal show" id="myModal" aria-modal = "true" style="display: block;" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Sign In</h4>
        <a class="btn close" href="/">&times;</a>
      </div>

      <!-- Modal body -->
      <div class="modal-body show">
        <form action="/register" method="post">
            <div class="form-group">
              <label for="reg-username">Name</label>
              <input type="text" name="username" class="form-control" id="reg-username" placeholder="Enter your name" required>
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
              <label for="reg-email">Email</label>
              <input type="email" name="email" class="form-control" id="reg-email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
              <label for="reg-password">Password</label>
              <input type="password" name="password" class="form-control" id="reg-password" placeholder="Create a new password" required>
            </div>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
          </form>
          <hr>
          <!-- Link to register -->
          <h7 class="form-text text-muted"><a href="/login">Login Here</a></h7>
      </div>

    </div>
  </div>
</div>
<div class="modal-backdrop show"></div>

<% include partials/sidebarFooter %>
<% include partials/footer %>
