<% include partials/sidebarHeader %>
<h1>Sprint Retrospective</h1>
<form class="" action="/<%=team.id%>/<%=sprintNo%>/sprintRetrospective" method="post">
  <% var content = "" %>
  <% if(team.sprint.length >= sprintNo){ %>
  <%    content = team.sprint[sprintNo-1].retrospective;%>
  <% } %>
  <textarea id="retrospectiveText" name="sprint[retrospective]" rows="14" cols="80" placeholder="Write Sprint Retrospective..."><%= content %></textarea>
  <center><button type="submit" id="SubBut" name="submit_button">Submit</button><center>
</form>
<% include partials/sidebarFooter %>
<% include partials/footer %>
