<% include partials/sidebarHeader %>
<h2>Sprint Review</h2>
<form class="" action="/<%=team.id%>/<%=sprintNo%>/sprintReview" method="post">
  <% var content = "" %>
  <% if(team.sprint.length >= sprintNo){ %>
  <%    content = team.sprint[sprintNo-1].review;%>
  <% } %>
  <textarea id="reviewText" name="sprint[review]" rows="14" cols="80" placeholder="Write Sprint Review..."><%= content %></textarea>
  <button type="submit" id="SubBut" name="submit_button">Submit</button>
</form>
<% include partials/sidebarFooter %>
<% include partials/footer %>
