<% include partials/sidebarHeader %>
<h1 id="reviewHead">Sprint Review</h1>
<form class="" action="/<%=team.id%>/<%=sprintNo%>/sprintReview" method="post">
  <textarea id="reviewText" name="sprint[review]" rows="14" cols="70" placeholder="Write Sprint Review..."></textarea>
  <button type="submit" id="SubBut" name="submit_button">Submit</button>
</form>
<% include partials/sidebarFooter %>
<% include partials/footer %>
