
.wrapper-cb {
    display: block;
}

.sticky-cb {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#sidebar-cb {
    min-width: 250px;
    max-width: 250px;
    background: #3AAFA9;
    color: #fff;
    transition: all 0.3s;
}

/* #chatbox{
  margin-left: 7.35em;
} */
.write_msg{

}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 2px 17px 2px 3px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  border: 1px solid grey;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  color:#fff;
  padding: 2px 17px 2px 3px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
    position: sticky;
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 80%;
  height: 70%;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 100%;
  overflow-y: scroll;
  position: sticky;
}
#chatbox{
    z-index: 10;
    margin-left: 60%;
    
    position: absolute;
    top:0;
    width:21em;
}
