.my-list {
  margin: 30px;
}

.my-list h2 {
  font: 400 45px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.my-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.my-list li {
  font: 200 25px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

.my-list li:last-child {
  border: none;
}

.my-list li a {
  text-decoration: none;
  color: #000;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
}

.my-list li a:hover {
  font-size: 35px;
  background: #f6f6f6;
}
